<a href="https://colab.research.google.com/github/triskler/Repositorio-de-codigos/blob/main/Mundo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

# Dois formatos de impressão

In [ ]:
print("olá, mundo")
print(f'olá, mundo')

# entrada de dados e saida de dados

In [ ]:
name = input("Digite seu nome: ")
print("É um prazer te conhecer "+ name )

#formato de função e saida em impressão, tambem pode ser retornado

In [11]:
def soma (num1,num2):
  return num1 + num2

## funcoes nativas para analilse de variavel

In [ ]:
var = input("Digite algo: ")
print(f'É alfabético? {var.isalpha()}')
print(f'É numerico? {var.isnumeric()}')
print(f'É alfanumerico? {var.isalnum()}')
print(f'Esta em maiuscula? {var.isupper()}')
print(f'Esta em minuscula? {var.islower()}')
print(f'Está capitalizada? {var.istitle()}')

`Impressão com variabilidade `

In [ ]:
data = int(input("Digite um numero: "))
print(f'Você digitou o numero {data}')
print(f'Seu antecessor é {data-1} e seu sucessor é {data+1}')

`Operadores aritiméticos com variavel`

In [ ]:
import math
data = int(input("Digite um numero: "))
sqrt = math.sqrt(data)
print(f'O dobro de {data} é {data * 2}')
print(f'O triplo de {data} é {data * 3}')
print(f'Sua raiz quadrada é {int(sqrt)}')

#Média aritimética com especificação de casas decimais

In [ ]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite o segunda nota: "))
media = (nota1 + nota2) / 2
print(f'A média do Aluno é: {media}')

#Conversor de medidas

In [ ]:
data = int(input("Digite a medida em metros: "))
print(f'{data} metros, corresponde a {data / 1000} kilometros')
print(f'corresponde a {data / 100} Hectometros')
print(f'corresponde a {data / 10} Decametros')
print(f'corresponde a {data * 10} Decimetros')
print(f'corresponde a {data * 100} Centímetros')
print(f'corresponde a {data * 1000} Milímetros')

#Tabuada do numero informado

In [18]:
data = int(input("Digite um numero para ver sua tabuada: "))
print(f'A tabuada do {data} é: ')
print(f'{data} x 1 = {data}')
print(f'{data} x 2 = {data * 2}')
print(f'{data} x 3 = {data * 3}')
print(f'{data} x 4 = {data * 4}')
print(f'{data} x 5 = {data * 5}')
print(f'{data} x 6 = {data * 6}')
print(f'{data} x 7 = {data * 7}')
print(f'{data} x 8 = {data * 8}')
print(f'{data} x 9 = {data * 9}')
print(f'{data} x 10 = {data * 10}')
print("-" * 10)

Digite um numero para ver sua tabuada: 8
A tabuada do 8 é:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------

#Conversor de moeda

In [9]:
data = float(input("Valor em reais: "))
print(f'R${data} correspondem a US${data / 5.08}')

Valor em reais: 20
R$20.0 correspondem a US$3.937007874015748

#Orçamento de pintura

In [10]:
data = float(input("Digite a altura da parede: "))
data2 = float(input("Digite a largura da parede: "))

area = data * data2
print(f'A área da parede é {area} m2')

tinta = area / 2
print(f'Serão necessários {tinta} litros para pintar esta parede.')

Digite a altura da parede: 1.8
Digite a largura da parede: 3.75
A área da parede é 6.75 m2
Serão necessários 3.375 litros para pintar esta parede.

#Calculo de desconto

In [ ]:
data = float(input("Digite o valor: "))
data2 = int(input("Digite o desconto: "))

valor = data * (data2/100)
resultado = float(data - valor)

print(f'O valor de R${data} com desconto de {data2}%:')
print(f'R${resultado}')

#Reajuste salarial

In [19]:
data = float(input("Digite o sálario do funcionario: "))
data2 = int(input("Digite o reajuste: "))

valor = data * (data2/100)
resultado = data + valor
print(f'O salário do funcionário passou de R${data} para R${resultado} aplicando {data2}% de reajuste.')

Digite o sálario do funcionario: 3452.67
Digite o reajuste: 10
O salário do funcionário passou de R$3452.67 para R$3797.937 aplicando 10% de reajuste.

#Conversor de Temperatura

In [22]:
data = float(input("Digite a temperatura em Celsius: "))
valor = (data * 1.8) + 32

print(f'A temperatura de {data} Celcius corresponde a {valor} em graus Fahrenheit ')

Digite a temperatura em Celsius: 38
A temperatura de 38.0 Celcius corresponde a (100.4, 2) em graus Fahrenheit

#Calculo de valor de locação de carro

In [23]:
data = int(input("Quantos dias estava em posse do carro: "))
data2 = float(input("Numero de kilometros rodados: "))

resultado = (60 * data) + (data2 * 0.15) 
print(f'O valor a pagar é de R${resultado}')

Quantos dias estava em posse do carro: 33
Numero de kilometros rodados: 200
O valor a pagar é de R$2010.0

#Quebrar um float em inteiro e resto

In [26]:
data = float(input("Digite um numero real: "))

inteiro = int(data)
print(f'O numero {data} possui {inteiro} inteiros.')

Digite um numero real: 67.567
O numero 67.567 possui 67 inteiros.

#Calculo do comprimento tode hipotenusa

In [ ]:
import math
data = float(input("Digite o comprimento do cateto oposto: "))
data2 = float(input("Digite o comprimento do cateto adjascente: "))

hipot = math.sqrt((data ** 2) + (data2 **2))

print(f'O comprimento da hipotenusa é {hipot}')

#Sorteio de pessoa aleatória

In [30]:
import random
data = input("Digite o primeiro nome: ")
data2 = input("Digite o segundo nome: ")
data3 = input("Digite o terceiro nome: ")
data4 = input("Digite o quarto nome: ")

lista = [data, data2, data3, data4]
escolhido = random.choice(lista)

print(f'O escolhido foi {escolhido}')

Digite o primeiro nome: Ana
Digite o segundo nome: Maria
Digite o terceiro nome: Lucas
Digite o quarto nome: Katy
O escolhido foi Maria